@charset "UTF-8";
:root {
  --display: "normal"; /* changes when the webpage is viewed on smaller devices */
  --font-size: 24px;
  --red: #F50000;
  --black: #333333;
  --white: #F5F5F5;
  --neu-light: #F5F5F5;
  --neu-shadows: #626262;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

body {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100vw;
  max-width: 100vw;
  height: 100vh;
  max-height: 100vh;
}

#root {
  position: relative;
  overflow: hidden;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  max-width: 1400px;
  height: 100%;
  max-height: 800px;
}

.button {
  cursor: pointer;
  display: block;
  padding-block: 5px;
  padding-inline: 10px;
  color: var(--black);
  text-align: center;
  border-radius: 5px;
  border: 2px solid var(--black);
  border-right-width: 5px;
  border-bottom-width: 5px;
}
.button:focus, .button:active {
  border-right-width: 2px;
  border-bottom-width: 2px;
}

.nav-link {
  margin-right: 25px;
  width: 150px;
  max-width: 150px;
  height: -moz-fit-content;
  height: fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
  text-decoration: none;
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  overflow: hidden;
  color: var(--black);
  font-size: 20px;
  line-height: initial;
  font-weight: normal;
  font-family: "Courier Prime", monospace;
}

.toggle-nav-pane {
  display: none;
  padding: 0;
  min-width: 50px;
  min-height: 40px;
  width: 50px;
  max-width: 50px;
  height: 40px;
  max-height: 40px;
}

#navbar {
  padding: 25px;
  width: 100%;
  max-width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
#navbar a:last-of-type {
  margin-right: 0;
}

#nav-pane {
  z-index: 1;
  position: absolute;
  right: -250px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  display: none;
  width: -moz-fit-content;
  width: fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  height: 100%;
  max-height: 100%;
  background-color: var(--white);
  border-left: 2px solid var(--black);
  transition: right 0.5s linear;
}
#nav-pane::-webkit-scrollbar {
  display: none;
}
#nav-pane > .toggle-nav-pane {
  margin-bottom: 25px;
  align-self: flex-end;
}

#nav-links {
  overflow: auto;
}
#nav-links::-webkit-scrollbar {
  display: none;
}
#nav-links > .nav-link {
  margin-right: 0;
  margin-bottom: 25px;
  text-align: left;
}

#main-content {
  overflow: auto;
  background-color: var(--white);
  width: 100%;
  max-width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
#main-content::-webkit-scrollbar {
  display: none;
}
#main-content #welcome-section {
  min-height: 100%;
  width: 50%;
  max-width: 50%;
  height: -moz-fit-content;
  height: fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
}
#main-content #content-section {
  min-height: 100%;
  width: calc(100% - 50%);
  max-width: calc(100% - 50%);
  height: -moz-fit-content;
  height: fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
}

#welcome-section {
  padding-inline: 25px;
  padding-block: 0 15px;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
#welcome-section::-webkit-scrollbar {
  display: none;
}
#welcome-section .welcome {
  margin-bottom: 50px;
  width: 100%;
  max-width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
}
#welcome-section .welcome:last-of-type {
  margin-bottom: 0px;
}

.block-title {
  margin-bottom: 15px;
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  overflow: hidden;
  color: var(--black);
  font-size: var(--font-size);
  line-height: var(--font-size);
  font-weight: normal;
  font-family: "Courier Prime", monospace;
}

#hello {
  display: block;
  margin-right: 17px;
}

#name {
  display: block;
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  overflow: hidden;
  color: var(--black);
  font-size: calc(var(--font-size) + 4px);
  line-height: calc(var(--font-size) + 4px);
  font-weight: normal;
  font-family: "Black Ops One", monospace;
}

#cursor {
  display: block;
  width: 24px;
  max-width: 24px;
  height: calc(var(--font-size) + 4px);
  max-height: calc(var(--font-size) + 4px);
  border-bottom: 5px solid var(--black);
  opacity: 0;
  animation: blink 0.5s linear infinite;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
#introduction {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
#introduction h1 {
  min-height: calc(var(--font-size) + 6px);
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
}
#introduction h1 > span:last-of-type {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
}

#description {
  width: 100%;
  max-width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  overflow: hidden;
  color: var(--black);
  font-size: 19px;
  line-height: initial;
  font-weight: normal;
  font-family: "Cutive Mono", monospace;
}

#skill-set {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
#skill-set h2 {
  display: block;
}
#skill-set h2 span:first-child {
  -webkit-text-decoration: line-through var(--red) solid 7px;
          text-decoration: line-through var(--red) solid 7px;
}
#skill-set h2 span:last-child {
  color: var(--red);
}

#skills {
  width: 100%;
  max-width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
#skills span {
  margin-right: 10px;
  margin-bottom: 10px;
  padding-block: 5px;
  padding-inline: 10px;
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  overflow: hidden;
  color: var(--black);
  font-size: 19px;
  line-height: initial;
  font-weight: normal;
  font-family: "Cutive Mono", monospace;
  border-radius: 5px;
  border: 1px dashed var(--black);
  background: var(--white);
  box-shadow: 3px 3px 0px var(--neu-shadows), calc(3px * -1) calc(3px * -1) 0px var(--neu-light);
}

#socials {
  align-self: flex-end;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
#socials .social-link {
  margin-right: 25px;
  margin-bottom: 10px;
  padding: 5px;
  width: -moz-fit-content;
  width: fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--black);
  text-decoration: none;
  border: 2px solid var(--black);
  border-radius: calc(5px + 5px);
}
#socials .social-link img {
  padding: 5px;
  width: 50px;
  max-width: 50px;
  height: 50px;
  max-height: 50px;
  -o-object-fit: contain;
     object-fit: contain;
  border: 1px dashed var(--black);
  border-radius: 5px;
}

#content-section {
  position: relative;
  overflow: hidden;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.content-title {
  display: none;
  margin-bottom: 25px;
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  overflow: hidden;
  color: var(--black);
  font-size: 30px;
  line-height: initial;
  font-weight: normal;
  font-family: "Black Ops One", monospace;
}

.content-container {
  position: absolute;
  overflow: auto;
  left: 0;
  padding: 25px;
  padding-top: 0;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  background-color: var(--white);
  color: var(--black);
  font-size: 19px;
  font-family: "Cutive Mono", monospace;
  transition: left 0.5s linear;
}
.content-container:not(:nth-child(1)) {
  left: 100%;
}
.content-container::-webkit-scrollbar {
  display: none;
}

.achievement {
  margin-bottom: 25px;
  width: 100%;
  max-width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  border-radius: 10px;
  border: 2px solid var(--black);
}
.achievement:last-of-type {
  margin-bottom: 0;
}

.period-title {
  padding: 10px;
  width: 100%;
  max-width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
  flex-wrap: wrap-reverse;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: flex-start;
  font-weight: bold;
  color: var(--white);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: var(--black);
}
.period-title .period {
  margin-right: 50px;
  width: -moz-fit-content;
  width: fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
}
.period-title .title {
  display: inline-block;
  color: var(--white);
  text-decoration: none;
  width: -moz-fit-content;
  width: fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
}
.period-title .title::after {
  content: "⇧";
  margin-left: 10px;
  display: inline-block;
  transform: rotate(90deg) scale(1.25);
}
.period-title .title:hover::after {
  animation: wave 1s linear infinite;
}
@keyframes wave {
  0% {
    transform: rotate(90deg) scale(1.25);
  }
  50% {
    transform: rotate(90deg) scale(1.75);
  }
  100% {
    transform: rotate(90deg) scale(1.25);
  }
}

.description {
  padding: 10px;
  width: 100%;
  max-width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
}

.tools,
.positions {
  padding: 10px;
  padding-bottom: 0;
  width: 100%;
  max-width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  border-top: 2px dashed var(--black);
}

.tools span {
  padding-inline: 5px;
  padding-block: 2.5px;
  margin-right: 10px;
  margin-bottom: 10px;
  color: var(--white);
  font-weight: bold;
  width: -moz-fit-content;
  width: fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
}

.positions {
  border: none;
  border-bottom: 2px dashed var(--black);
}
.positions span {
  margin-right: 10px;
  margin-bottom: 10px;
  font-weight: bold;
  width: -moz-fit-content;
  width: fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
}

.contact {
  margin-bottom: 25px;
  width: 100%;
  max-width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
}
.contact:last-child {
  margin-bottom: 0;
}

form.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
form.contact div {
  --input: calc(100% - 25px - 20%);
  margin-bottom: 15px;
  width: 100%;
  max-width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: flex-start;
}
form.contact div:last-of-type {
  margin-bottom: 25px;
}
form.contact div > * {
  padding-block: 5px;
  padding-inline: 10px;
  border: 2px solid var(--black);
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  overflow: hidden;
  color: var(--black);
  font-size: 18px;
  line-height: initial;
  font-weight: normal;
  font-family: "Cutive Mono", monospace;
}
form.contact div label {
  margin-right: 25px;
  width: 20%;
  max-width: 20%;
  height: -moz-fit-content;
  height: fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
  font-weight: bold;
  color: var(--white);
  background-color: var(--black);
}

.input {
  min-width: var(--input);
  width: var(--input);
  max-width: var(--input);
  height: -moz-fit-content;
  height: fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
  background-color: var(--white);
}
.input:active, .input:focus {
  outline: none;
  border-style: dashed;
}

textarea.input {
  min-height: 100px;
}

form.contact > input {
  width: 200px;
  max-width: 200px;
  height: -moz-fit-content;
  height: fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  overflow: hidden;
  color: var(--black);
  font-size: 18px;
  line-height: initial;
  font-weight: bold;
  font-family: "Cutive Mono", monospace;
}