@import "functions.scss";

:root{
    --display: "normal"; /* changes when the webpage is viewed on smaller devices */
    --font-size: 24px;
    --red: #F50000;
    --black: #333333;
    --white: #F5F5F5;
    --neu-light: #F5F5F5;
    --neu-shadows: #626262;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

body{
    overflow: hidden;
    @include flex(row,center,center);
    @include dimensions(100vw,100vw,100vh,100vh);
}

#root{
    position: relative;
    overflow: hidden;
    background-color: var(--white);
    @include flex(column,center,flex-start);
    @include dimensions(100%,1400px,100%,800px);
}

.button{
    cursor: pointer;
    display: block;
    padding-block: 5px;
    padding-inline: 10px;
    color: var(--black);
    text-align: center;
    border-radius: 5px;
    border: 2px solid var(--black);
    border-right-width: 5px;
    border-bottom-width: 5px;
    &:focus,&:active{
        border-right-width: 2px;
        border-bottom-width: 2px;
    }
}

.nav-link{
    margin-right: 25px;
    @include dimensions(150px,150px);
    text-decoration: none;
    @include text(20px,initial,"Courier Prime",var(--black));
}

.toggle-nav-pane{
    display: none;
    padding: 0;
    min-width: 50px;
    min-height: 40px;
    @include dimensions(50px,50px,40px,40px);
}

#navbar{
    padding: 25px;
    @include dimensions(100%,100%);
    @include flex(row,center,flex-end);
    a:last-of-type{
        margin-right: 0;
    }
}

#nav-pane{
    z-index: 1;
    position: absolute;
    right: -250px;
    padding: 25px;
    @include flex(column,flex-start,flex-start);
    display: none;
    @include dimensions(fit-content,fit-content,100%,100%);
    background-color: var(--white);
    border-left: 2px solid var(--black);
    transition: right 0.5s linear;
    &::-webkit-scrollbar{
        display: none;
    }
    &>.toggle-nav-pane{
        margin-bottom: 25px;
        align-self: flex-end;
    }
}

#nav-links{
    overflow: auto;
    &::-webkit-scrollbar{
        display: none;
    }
    &>.nav-link{
        margin-right: 0;
        margin-bottom: 25px;
        text-align: left;
    }
}

#main-content{
    $section1: 50%;
    $section2: calc(100% - #{$section1});
    overflow: auto;
    background-color: var(--white);
    @include dimensions(100%,100%);
    @include flex(row,flex-start,flex-start);
    &::-webkit-scrollbar{
        display: none;
    }
    #welcome-section{
        min-height: 100%;
        @include dimensions($section1,$section1);
    }
    #content-section{
        min-height: 100%;
        @include dimensions($section2,$section2);
    }
}

#welcome-section{
    padding-inline: 25px;
    padding-block: 0 15px;
    flex-wrap: wrap;
    @include flex(row,stretch,flex-start);
    &::-webkit-scrollbar{
        display: none;
    }
    .welcome{
        margin-bottom: 50px;
        @include dimensions(100%,100%);
        &:last-of-type{
            margin-bottom: 0px;
        }
    }
}

.block-title{
    margin-bottom: 15px;
    @include text(var(--font-size),var(--font-size),"Courier Prime",var(--black));
}

#hello{
    display: block;
    margin-right: 17px;
}

#name{
    display: block;
    $font-size: calc(var(--font-size) + 4px);
    @include text($font-size,$font-size,"Black Ops One",var(--black));
}

#cursor{
    display: block;
    $font-size: calc(var(--font-size) + 4px);
    @include dimensions(24px,24px,$font-size,$font-size);
    border-bottom: 5px solid var(--black);
    opacity: 0;
    animation: blink 0.5s linear infinite;
}

@keyframes blink{
    0%{ opacity: 0; }
    50%{ opacity: 0.5; }
    100%{ opacity: 1; }
}

#introduction{
    @include flex(column,flex-start,flex-start);
    h1{
        min-height: calc(var(--font-size) + 6px);
        flex-wrap: wrap;
        @include flex(row,flex-end);
        &>span:last-of-type{
            @include flex(row,flex-end,flex-start);
        }
    }
}

#description{
    @include dimensions(100%,100%);
    @include text(19px,initial,"Cutive Mono",var(--black));
}

#skill-set{
    @include flex(column,flex-start,flex-start);
    h2{
        display: block;
        span:first-child{
            text-decoration: line-through var(--red) solid 7px;
        }
        span:last-child{
            color: var(--red);
        }
    }
}

#skills{
    @include dimensions(100%,100%);
    flex-wrap: wrap;
    @include flex(row,center,flex-start);
    span{
        $blur: 0px;
        $distance: 3px;
        margin-right: 10px;
        margin-bottom: 10px;
        padding-block: 5px;
        padding-inline: 10px;
        @include text(19px,initial,"Cutive Mono",var(--black));
        border-radius: 5px;
        border: 1px dashed var(--black);
        background: var(--white);
        box-shadow:  $distance $distance $blur var(--neu-shadows),
        calc(#{$distance} * -1) calc(#{$distance} * -1) $blur var(--neu-light);
    }
}

#socials{
    $border-radius: 5px;
    align-self: flex-end;
    flex-wrap: wrap;
    @include flex(row,center,flex-start);
    .social-link{
        $padding: 5px;
        margin-right: 25px;
        margin-bottom: 10px;
        padding: 5px;
        @include dimensions();
        @include flex(column,center,center);
        color: var(--black);
        text-decoration: none;
        border: 2px solid var(--black);
        border-radius: calc(#{$border-radius} + #{$padding});
        img{
            padding: 5px;
            $size: 50px;
            @include dimensions($size,$size,$size,$size);
            object-fit: contain;
            border: 1px dashed var(--black);
            border-radius: $border-radius;
        }
    }
}

#content-section{
    position: relative;
    overflow: hidden;
    flex-wrap: wrap;
    @include flex(row,center,flex-start);
}

.content-title{
    display: none;
    margin-bottom: 25px;
    @include text(30px,initial,"Black Ops One",var(--black));
}

.content-container{
    position: absolute;
    overflow: auto;
    left: 0;
    padding: 25px;
    padding-top: 0;
    @include dimensions(100%,100%,100%,100%);
    background-color: var(--white);
    color: var(--black);
    font-size: 19px;
    font-family: "Cutive Mono", monospace;
    transition: left 0.5s linear;
    &:not(:nth-child(1)){
        left: 100%;
    }
    &::-webkit-scrollbar{
        display: none;
    }
}

.achievement{
    margin-bottom: 25px;
    @include dimensions(100%,100%);
    @include flex(column,flex-start,flex-start);
    border-radius: 10px;
    border: 2px solid var(--black);
    &:last-of-type{
        margin-bottom: 0;
    }
}

.period-title{
    padding: 10px;
    @include dimensions(100%,100%);
    flex-wrap: wrap-reverse;
    @include flex(row,baseline,flex-start);
    font-weight: bold;
    color: var(--white);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: var(--black);
    .period{
        margin-right: 50px;
        @include dimensions();
    }
    .title{
        display: inline-block;
        color: var(--white);
        text-decoration: none;
        @include dimensions();
        &::after{
            content: "⇧";
            margin-left: 10px;
            display: inline-block;
            transform: rotate(90deg) scale(1.25);
        }
        &:hover::after{
            animation: wave 1s linear infinite;
        }
        @keyframes wave{
            0%{ transform: rotate(90deg) scale(1.25); }
            50%{ transform: rotate(90deg) scale(1.75); }
            100%{ transform: rotate(90deg) scale(1.25); }
        }
    }
}

.description{
    padding: 10px;
    @include dimensions(100%,100%);
}

.tools,
.positions{
    padding: 10px;
    padding-bottom: 0;
    @include dimensions(100%,100%);
    flex-wrap: wrap;
    @include flex(row,center,flex-start);
    border-top: 2px dashed var(--black);
}

.tools span{
    padding-inline: 5px;
    padding-block: 2.5px;
    margin-right: 10px;
    margin-bottom: 10px;
    color: var(--white);
    font-weight: bold;
    @include dimensions();
}

.positions{
    border: none;
    border-bottom: 2px dashed var(--black);
    span{
        margin-right: 10px;
        margin-bottom: 10px;
        font-weight: bold;
        @include dimensions();
    }
}

.contact{
    margin-bottom: 25px;
    @include dimensions(100%,100%);
    &:last-child{
        margin-bottom: 0;
    }
}

form.contact{
    @include flex(column,center,flex-start);
    div{
        $label: 20%;
        $space: 25px;
        --input: calc(100% - #{$space} - #{$label});
        margin-bottom: 15px;
        @include dimensions(100%,100%);
        @include flex(row,baseline,flex-start);
        &:last-of-type{
            margin-bottom: 25px;
        }
        &>*{
            padding-block: 5px;
            padding-inline: 10px;
            border: 2px solid var(--black);
            @include text(18px,initial,"Cutive Mono",var(--black));
        }
        label{
            margin-right: $space;
            @include dimensions($label,$label);
            font-weight: bold;
            color: var(--white);
            background-color: var(--black);
        }
    }
}

.input{
    min-width: var(--input);
    @include dimensions(var(--input),var(--input));
    background-color: var(--white);
    &:active,&:focus{
        outline: none;
        border-style: dashed;
    }
}

textarea.input{
    min-height: 100px;
}

form.contact > input{
    @include dimensions(200px,200px);
    @include text(18px,initial,"Cutive Mono",var(--black),bold);
}