<div id="contact" class="content-container">
    <span class="content-title">
        CONTACT
    </span>
    <p class="contact fit-height">
        If you have any interesting projects that you need a hand in 
        or if you just want to say hello, don't hesitate to reach out;
    </p>
    <form class="contact fit-height" method="POST" action="">
        {% csrf_token %}
        <div class="fit-height">
            <label for="username">Name:</label>
            <input id="username" class="input" name="username" type="text" placeholder="official name" required/>
        </div>
        <div class="fit-height">
            <label for="email">Email:</label>
            <input id="email" class="input" name="email" type="email" placeholder="jdoe@email.com" required/>
        </div>
        <div class="fit-height">
            <label for="message">Message:</label>
            <textarea id="message" class="input" name="message" placeholder="Hello George,..." required></textarea>
        </div>
        <input type="submit" class="button" value="Send Message"/>
    </form>
</div>