<div id="experience" class="content-container">
    <span class="content-title">
        EXPERIENCE
    </span>
    <div class="experience-tile fit-height">
        <div class="period-title fit-height">
            <span class="period fit-all">05/23 - 08/23</span>
            <a class="title fit-all" href="https://moti-carsharing.azurewebsites.net/" target="_blank">MOTI INC</a>
        </div>
        <div class="positions">
            <span class="fit-all">Web Developer</span>
        </div>
        <div class="description">
            Developed and implemented a visually appealing and user friendly website. 
            Implemented robust data storage capabilities. 
            Utilized advanced web development techniques to optimize website performance.
        </div>
        <div class="tools fit-height">
            <span class="fit-all" style="background-color: #3573a6;">Python</span>
            <span class="fit-all" style="background-color: #0c4b33;">Django</span>
            <span class="fit-all" style="background-color: #e44c27;">HTML</span>
            <span class="fit-all" style="background-color: #c6538c;">SCSS</span>
            <span class="fit-all" style="background-color: #f1e15a;">JavaScript</span>
        </div>
    </div>
    <div class="experience-tile fit-height">
        <div class="period-title fit-height">
            <span class="period fit-all">01/22 - 06/22</span>
            <a class="title fit-all" href="https://www.sasapay.co.ke/" target="_blank">sasapay</a>
        </div>
        <div class="positions">
            <span class="fit-all">Backend Developer</span>
        </div>
        <div class="description">
            Contributed to the successful testing of the SasaPay Wallet as a Service platform by providing support during the development process. 
            Participated in regular code reviews with the product team and actively sought feedback from senior engineers. 
            Developed and implemented a Python script that automated the extraction and organization of information from the KPLC token database.
        </div>
        <div class="tools fit-height">
            <span class="fit-all" style="background-color: #3573a6;">Python</span>
            <span class="fit-all" style="background-color: #a30000;">Djangorest</span>
            <span class="fit-all" style="background-color: #ff6c37;">Postman</span>
            <span class="fit-all" style="background-color: #85ea2d;">Swagger</span>
        </div>
    </div>
</div>