{% load portfolio_filters %}
<div id="experience" class="content-container">
    <span class="content-title">
        EXPERIENCE
    </span>
    {% for experience in experiences %}
        <div class="experience-tile fit-height">
            <div class="period-title fit-height">
                <span class="period fit-all">
                    {{experience.start_date|shorten_date}} - 
                    {% if experience.ongoing %} Present
                    {% else %} {{experience.end_date|shorten_date}}
                    {% endif %}
                </span>
                <a class="title fit-all" href={{experience.link}} target="_blank">{{experience.company}}</a>
            </div>
            <div class="description">{{experience.title}}</div>
            <ul class="objectives">
                {% for objective in experience.objectives %}
                    <li>{{objective}}</li>
                {% endfor %}
            </ul>
            <div class="tools fit-height">
                {% for tool in experience.tools %}
                    <span class="fit-all {{tool|lower}}">{{tool}}</span>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
</div>