<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Get to know a little bit more about the man behind the name">
        <title>George Mobisa</title>
        <link rel="icon" href="" type="image/x-icon" sizes="16x16 32x32">
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        <link rel="stylesheet" href="{% static 'css/media-queries.css' %}">
        <!-- Google Fonts; Black Ops One, Roboto Condensed, Cutive Mono -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Courier+Prime:wght@700&family=Cutive+Mono&display=swap" rel="stylesheet">
    </head>
    <body>
        <div id="root">
            <nav id="nav-pane" class="fit-width">
                <svg class="button toggle-nav-pane" fill="#333333" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" onclick="toggleNavPane()">
                    <path fill-rule="evenodd" d="M19.505 4.975a.6.6 0 0 1 0 .85l-13.2 13.2a.6.6 0 0 1-.85-.85l13.2-13.2a.598.598 0 0 1 .85 0Z" clip-rule="evenodd"></path>
                    <path fill-rule="evenodd" d="M5.456 4.975a.6.6 0 0 0 0 .85l13.2 13.2a.6.6 0 1 0 .85-.85l-13.2-13.2a.6.6 0 0 0-.85 0Z" clip-rule="evenodd"></path>
                </svg>
                <div id="nav-links">
                    <a onclick="togglePage(event)" class="button nav-link" href="#welcome">Home</a>
                    <a onclick="togglePage(event)" class="button nav-link" href="#projects">Projects</a>
                    <a onclick="togglePage(event)" class="button nav-link" href="#experience">Experience</a>
                    <a onclick="togglePage(event)" class="button nav-link" href="#contact">Contact</a>
                </div>
            </nav>
            <nav id="navbar" class="fit-height">
                <a id="logo" class="fit-all" href="#welcome">GM</a>
                <div id="links" class="fit-all">
                    <a onclick="togglePage(event)" class="button nav-link" href="#projects">Projects</a>
                    <a onclick="togglePage(event)" class="button nav-link" href="#experience">Experience</a>
                    <a onclick="togglePage(event)" class="button nav-link" href="#contact">Contact</a>
                    <svg class="button toggle-nav-pane" fill="#333333" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" onclick="toggleNavPane()">
                        <path fill-rule="evenodd" d="M4.92 17.28a.6.6 0 0 1 .6-.6h12a.599.599 0 1 1 0 1.2h-12a.6.6 0 0 1-.6-.6Zm0-4.8a.6.6 0 0 1 .6-.6h12a.599.599 0 1 1 0 1.2h-12a.6.6 0 0 1-.6-.6Zm0-4.8a.6.6 0 0 1 .6-.6h12a.6.6 0 1 1 0 1.2h-12a.6.6 0 0 1-.6-.6Z" clip-rule="evenodd"></path>
                    </svg>
                </div>
            </nav>
            <main id="main-content" class="fit-height">
                <section id="welcome" class="fit-height">
                    <div id="introduction" class="fit-height welcome">
                        <h1 class="block-title">
                            <span id="hello">Hello there, I'm</span>
                            <span><span id="name"></span><span id="cursor"></span></span>
                        </h1>
                        <div id="description" class="fit-height">
                            ...a Software Developer with an aptitude for analytical concepts. Having experience as a 
                            backend and frontend developer, I believe in building ethical, scalable and optimizable systems.
                        </div>
                    </div>
                    <div id="skill-set" class="fit-height welcome">
                        <h2 class="block-title">
                            Jack of <span>all</span> 
                            <span>MOST</span> trades
                        </h2>
                        <div id="skills" class="fit-height">
                            <span>C</span><span>C++</span><span>Java</span>
                            <span>Python</span><span>HTML</span><span>CSS</span>
                            <span>Javascript</span><span>Bootstrap</span><span>SASS</span>
                            <span>React</span><span>Redux</span><span>jQuery</span>
                            <span>Django</span><span>Djangorest</span><span>PostgreSQL</span>
                            <span>Postman</span><span>Swagger</span>
                        </div>
                    </div>
                    <div id="socials" class="fit-height welcome">
                        <a id="profile-link" class="social-link fit-all" target="_blank" href="https://www.freecodecamp.org/nerds-playground">
                            <img src="https://ik.imagekit.io/uxrynlkmb/GeneralAssets/social-freecodecamp-black.png?tr=w-256,h=256" alt="freecodecamp">
                        </a>
                        <a class="social-link fit-all" target="_blank" href="https://github.com/NerdPlayground">
                            <img src="https://ik.imagekit.io/uxrynlkmb/GeneralAssets/social-github-black.png?tr=w-256,h=256" alt="github">
                        </a>
                        <a class="social-link fit-all" target="_blank" href="https://codepen.io/nerdsplayground">
                            <img src="https://ik.imagekit.io/uxrynlkmb/GeneralAssets/social-codepen-black.png?tr=w-256,h=256" alt="codepen">
                        </a>
                        <a class="social-link fit-all" target="_blank" href="https://twitter.com/nplayground_">
                            <img src="https://ik.imagekit.io/uxrynlkmb/GeneralAssets/social-twitter-black.png?tr=w-256,h=256" alt="twitter">
                        </a>
                        <a class="social-link fit-all" target="_blank" href="https://www.instagram.com/nplayground_/">
                            <img src="https://ik.imagekit.io/uxrynlkmb/GeneralAssets/social-instagram-black.png?tr=w-256,h=256" alt="instagram">
                        </a>
                    </div>
                </section>
                <section id="content-section" class="fit-height">
                    {% include "projects.html" %}
                    {% include "experience.html" %}
                    {% include "contact.html" %}
                </section>
            </main>
        </div>
        <script src="{% static 'js/main.js' %}"></script>
    </body>
</html>