<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Get to know a little bit more about the man behind the name">
        <title>George Mobisa</title>
        <link rel="icon" href="" type="image/x-icon" sizes="16x16 32x32">
        <link rel="stylesheet" href="../static/css/styles.css">
        <!-- Google Fonts; Black Ops One, Roboto Condensed, Cutive Mono -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Courier+Prime:wght@700&family=Cutive+Mono&display=swap" rel="stylesheet">
        <!-- <link href="https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Courier+Prime:wght@700&family=Roboto+Condensed&display=swap" rel="stylesheet"> -->
        <!-- <link href="https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Courier+Prime:wght@700&family=Roboto+Condensed:wght@300&display=swap" rel="stylesheet"> -->
    </head>
    <body>
        <div id="root">
            <section id="welcome-section" class="fit-height">
                <div id="introduction" class="fit-height welcome">
                    <h1 class="block-title">
                        <span id="hello">Hello there, I'm</span>
                        <span id="name"></span> <span id="cursor"></span>
                    </h1>
                    <div id="description" class="fit-height">
                        ...a Software Developer with an aptitude for analytical concepts. Having experience as a 
                        backend and frontend developer, I believe in building ethical, scalable and optimizable systems.
                    </div>
                </div>
                <div id="skill-set" class="fit-height welcome">
                    <h2 class="block-title">
                        Jack of <span>all</span> 
                        <span>MOST</span> trades
                    </h2>
                    <div id="skills" class="fit-height">
                        <span>C</span><span>C++</span><span>Java</span>
                        <span>Python</span><span>HTML</span><span>CSS</span>
                        <span>Javascript</span><span>Bootstrap</span><span>SASS</span>
                        <span>React</span><span>Redux</span><span>jQuery</span>
                        <span>Django</span><span>Djangorest</span><span>PostgreSQL</span>
                        <span>Postman</span><span>Swagger</span>
                    </div>
                </div>
                <div id="socials" class="fit-height welcome">
                    <a id="profile-link" class="social-link fit-all" href="https://www.freecodecamp.org/nerds-playground">
                        <img src="https://ik.imagekit.io/uxrynlkmb/GeneralAssets/social-freecodecamp-black.png?tr=w-256,h=256" alt="freecodecamp">
                    </a>
                    <a class="social-link fit-all" href="https://github.com/NerdPlayground">
                        <img src="https://ik.imagekit.io/uxrynlkmb/GeneralAssets/social-github-black.png?tr=w-256,h=256" alt="github">
                    </a>
                    <a class="social-link fit-all" href="https://codepen.io/nerdsplayground">
                        <img src="https://ik.imagekit.io/uxrynlkmb/GeneralAssets/social-codepen-black.png?tr=w-256,h=256" alt="codepen">
                    </a>
                    <a class="social-link fit-all" href="https://twitter.com/nplayground_">
                        <img src="https://ik.imagekit.io/uxrynlkmb/GeneralAssets/social-twitter-black.png?tr=w-256,h=256" alt="twitter">
                    </a>
                    <a class="social-link fit-all" href="https://www.instagram.com/nplayground_/">
                        <img src="https://ik.imagekit.io/uxrynlkmb/GeneralAssets/social-instagram-black.png?tr=w-256,h=256" alt="instagram">
                    </a>
                </div>
            </section>
            <section id="content-section" class="fit-height"></section>
        </div>
        <script src="../static/js/main.js"></script>
    </body>
</html>