{% load portfolio_filters %}

<div id="projects" class="content-container">
    <span class="content-title">
        PROJECTS
    </span>
    {% for project in projects %}
        <div class="project-tile fit-height">
            <div class="period-title fit-height">
                <span class="period fit-all">
                    {{project.start_date|shorten_date}} - 
                    {% if project.ongoing %} Present
                    {% else %} {{project.end_date|shorten_date}}
                    {% endif %}
                </span>
                <a class="title fit-all" href={{project.link}} target="_blank">{{project.name}}</a>
            </div>
            <div class="description">{{project.description}}</div>
            <ul class="objectives">
                {% for objective in project.objectives %}
                    <li>{{objective}}</li>
                {% endfor %}
            </ul>
            <div class="tools fit-height">
                {% for tool in project.tools %}
                    <span class="fit-all {{tool|lower}}">{{tool}}</span>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
</div>