<div id="projects" class="content-container">
    <span class="content-title">
        PROJECTS
    </span>
    <div class="project-tile fit-height">
        <div class="period-title fit-height">
            <span class="period fit-all">05/22 - 09/22</span>
            <a class="title fit-all" href="https://github.com/NerdPlayground/allyoucaneat" target="_blank">All You Can Eat</a>
        </div>
        <div class="description">
            Web app for ordering fruits and drinks from connected vendors. 
            Browse the catalogue, make your order, review it and pay using SasaPay or Mpesa. 
            Inspired by the SasaPay staff to cater for their meals from Klabu - 
            an open market near their offices.
        </div>
        <div class="tools fit-height">
            <span class="fit-all" style="background-color: #3573a6;">Python</span>
            <span class="fit-all" style="background-color: #0c4b33;">Django</span>
            <span class="fit-all" style="background-color: #e44c27;">HTML</span>
            <span class="fit-all" style="background-color: #563e7c;">CSS</span>
            <span class="fit-all" style="background-color: #f1e15a;">JavaScript</span>
        </div>
    </div>
    <div class="project-tile fit-height">
        <div class="period-title fit-height">
            <span class="period fit-all">12/22 - 01/23</span>
            <a class="title fit-all" href="https://github.com/NerdPlayground/cleanupgmailapi" target="_blank">Cleanup Gmail API</a>
        </div>
        <div class="description">
            API for organizing your Gmail's inbox. 
            Gets senders, creates filters and labels based on them and groups their respective emails. 
            The filters and labels will be applied on other incoming emails, therefore, usage can be limited to at least once a year.
        </div>
        <div class="tools fit-height">
            <span class="fit-all" style="background-color: #3573a6;">Python</span>
            <span class="fit-all" style="background-color: #a30000;">Djangorest</span>
            <span class="fit-all" style="background-color: #ff6c37;">Postman</span>
        </div>
    </div>
    <div class="project-tile fit-height">
        <div class="period-title fit-height">
            <span class="period fit-all">05/22 - 10/22</span>
            <a class="title fit-all" href="https://github.com/NerdPlayground/sasapayproducts" target="_blank">SasaPay Products</a>
        </div>
        <div class="description">
            API that consumes endpoints in SasaPay API. 
            The endpoints include business to customer, business to business and payment requests.
        </div>
        <div class="tools fit-height">
            <span class="fit-all" style="background-color: #3573a6;">Python</span>
            <span class="fit-all" style="background-color: #a30000;">Djangorest</span>
            <span class="fit-all" style="background-color: #ff6c37;">Postman</span>
        </div>
    </div>
    <div class="project-tile fit-height">
        <div class="period-title fit-height">
            <span class="period fit-all">09/23 - 09/23</span>
            <a class="title fit-all" href="https://github.com/NerdPlayground/file-handling-platform" target="_blank">File Handling Platform</a>
        </div>
        <div class="description">
            Web app for staging and reviewing files before processing them using your custom implementation. 
            Use AJAX requests to send the staged files for processing.
        </div>
        <div class="tools fit-height">
            <span class="fit-all" style="background-color: #e44c27;">HTML</span>
            <span class="fit-all" style="background-color: #c6538c;">SCSS</span>
            <span class="fit-all" style="background-color: #f1e15a;">JavaScript</span>
        </div>
    </div>
</div>